body {
  background: url('../images/rockywall.png') repeat;
}

a, a:link, a:active, a:hover {
  text-decoration: none;
}

.samarkan {
  font-family: 'Samarkan';
}

.demo-card-wide.mdl-card {
  width: auto;
  margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
}



.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 250px;
  background: url('../images/taj-mahal.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-cell--4-col,
.mdl-cell--4-col .mdl-card__title,
.mdl-cell--4-col .mdl-card__title-text {
  text-align: center;
  margin: 0 auto;
}

.mdl-card__icon {
  padding: 22px 0 4px 0;
}

.dashboard .mdl-card__title-text {
  font-weight: 300;
}

.dashboard .mdl-button,
.dashboard .mdl-card__title-text,
.dashboard .mdl-card__supporting-text {
  color: white;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: white !important;
}

.close-button {
  float: right;
}

.cmc-upload {
}
