<!--<div ng-controller="AboutController">-->
<h4><strong><font color="green">About us</font></strong></h4>
      <div class="img-circular"></div>
        <center>
          <br>
          <div class="panel panel-default">
            <div class="panel-body">
              <br>
        <div class="col-xs-6 col-md-2 col-md-offset-1">
        <div class="img-circle">
				<img src=".\assets\images\kushal.jpg" class="img-circle" alt="Cinque Terre" width="175" height="175" />
        <h4><font color="green">Kushal S T </font></h4>
				UI designer
        </div>
      </div>

        <div class="col-xs-6 col-md-3 col-md-offset-1">
        <div class="img-circle">
				<img src=".\assets\images\prabhu.jpg" class="img-circle" alt="Cinque Terre" width="175" height="175" />
        <h4><font color="green">Prabhu B</font></h4>
          Foreground stuff
        </div>
      </div>

      <div class="col-xs-6 col-md-2 col-md-offset-1">
      <div class="img-circle">
      <img src=".\assets\images\raja.jpg" class="img-circle" alt="Cinque Terre" width="175" height="175" />
      <h4><font color="green">Raja Rajan A</font></h4>
        Background stuff
      </div>

      <br>
    </div>
    </div>
        </center>


        <div class="panel panel-default">
          <div class="panel-body">
            <font color="lightgreen">Hello</font>
          </div>
        </div>


        </div>
			<!--</div>-->
