<div ng-container="HomeContainer">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome to Nagariya!</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>We are a one stop, intelligent portal for everything and anything that needs to be done to upbring the city you live in.</p>
      <p>Help around the neighborhood with <strong>Clean My City</strong>,<br>
      submit the complaints of your constituency and be heard by officials with <strong>Complaint Box</strong><br>
      and so many more features just waiting to be unearthed!</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Know More
      </a>
    </div>
  </div>

  <p>&nbsp;</p>

  <!-- Row 1 -->
  <div class="mdl-grid dashboard">
    <!-- Clean My City -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#cleanmycity">
        <div class="mdl-card mdl-shadow--2dp" style="background: #4CAF50;">
          <div class="mdl-card__icon">
            <img src="assets/images/sweeping-broom.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Clean My City</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#cleanmycity" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>

    <!-- Complaint Box -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#complaintbox">
        <div class="mdl-card mdl-shadow--2dp" style="background: #009688;">
          <div class="mdl-card__icon">
            <img src="assets/images/complaints.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Complaint Box</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#cleanmycity" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>

    <!-- Payment Hub -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#paymenthub">
        <div class="mdl-card mdl-shadow--2dp" style="background: #00BCD4;">
          <div class="mdl-card__icon">
            <img src="assets/images/coins.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Payment Hub</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#paymenthub" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="mdl-grid dashboard">
    <!-- Realtime Insights -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#realtimeinsights">
        <div class="mdl-card mdl-shadow--2dp" style="background: #03A9F4;">
          <div class="mdl-card__icon">
            <img src="assets/images/graph.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Realtime Insights</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#realtimeinsights" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>

    <!-- Your Profile -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#profile">
        <div class="mdl-card mdl-shadow--2dp" style="background: #2196F3;">
          <div class="mdl-card__icon">
            <img src="assets/images/profile.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Your Profile</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#profile" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>

    <!-- About Nagariya -->
    <div class="mdl-cell mdl-cell--4-col">
      <a href="#about">
        <div class="mdl-card mdl-shadow--2dp" style="background: #3F51B5;">
          <div class="mdl-card__icon">
            <img src="assets/images/info.png" width="42px" height="42px" />
          </div>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">About Nagariya</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#about" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Visit This Portal
            </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
